@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ========================================================= */

.Welcome-text {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.Welcome-box-title {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, 0.32) 100%),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}

.button-primary:hover {
  background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, 0.42) 100%),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* .button-primary-icon {
  background:rgba(255, 255, 255, 0.1);
  padding: 6px;
  border-radius: 8px;
} */

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* tech */

.next-tech {
  @apply bg-white rounded-full p-[1px];
}

.framer-tech {
  @apply w-[35px] h-[35px];
}

.sass-tech {
  @apply ml-[3px] mr-[3px];
}

.chakraUi-tech {
  @apply ml-1
}

/* shadow */

.img-shadow {
  box-shadow: 0 0 16px #b49bff;
  transition: box-shadow 0.3s ease;
}

.img-shadow:hover {
  box-shadow: 0 0 10px #b49bff, 0 0 20px #b49bff;
}

.card-shadow-project {
  box-shadow: 0 0 10px #7632ff, 0 0 20px #7632ff;
  transition: all 0.2s ease;
}

.card-shadow-project::before {
  content: ''; /* Псевдоелемент для затемнення фону при ховері */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 14, 0.9);
  z-index: 1; /* Позначаємо верхній шар, щоб псевдоелемент був вище ніж картка */
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.card-shadow-project:hover::before {
  opacity: 1;
  filter: blur(3px);
}

.card-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 2; /* Позначаємо верхній шар, щоб іконки були вище ніж псевдоелемент */
}

/* .card-shadow-project:hover {
  cursor: pointer;
  opacity: 0.6;
  filter: blur(3px);
  scale: 1.01;
} */


/* sharp-image */

.sharp-image {
  image-rendering: pixelated;
}



html {
  scroll-behavior: smooth;
}

/* .ww span {
  display: inline-block;
  text-decoration: underline 3px RoyalBlue;
  text-underline-offset: 12px;
  animation: wavy-waves-anim linear 3000ms infinite;
}
     
.ww span:nth-of-type(1) {animation-delay: 0ms}
.ww span:nth-of-type(2) {animation-delay: 100ms}
.ww span:nth-of-type(3) {animation-delay: 200ms}
.ww span:nth-of-type(4) {animation-delay: 300ms}
.ww span:nth-of-type(5) {animation-delay: 400ms}
.ww span:nth-of-type(6) {animation-delay: 500ms}
.ww span:nth-of-type(7) {animation-delay: 600ms}
.ww span:nth-of-type(8) {animation-delay: 700ms}
.ww span:nth-of-type(9) {animation-delay: 800ms}
.ww span:nth-of-type(10) {animation-delay: 900ms}
     
@keyframes wavy-waves-anim {
 0% { text-decoration-style: wavy; text-underline-offset: 8px; text-decoration-color: PowderBlue }
 5% { text-decoration-style: wavy; text-underline-offset: 0px; text-decoration-color: RoyalBlue }
 25% { text-decoration-style: solid; text-underline-offset: 12px }
 37.5% { text-decoration-color: PowderBlue }
 45% { text-decoration-color: RoyalBlue }
 87.5% { text-decoration-color: RoyalBlue }
 98% { text-decoration-color: PowderBlue}
} */
